<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YahooChart.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FutureAnalysis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DataLink.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <YahooChart.Properties.Settings>
            <setting name="ConTractFileName" serializeAs="String">
                <value>C:\Python3\YahooChart23\YahooChart\bin\Release\app\csv\Contract.csv</value>
            </setting>
            <setting name="PythonPath" serializeAs="String">
                <value>C:\Python396\Python.exe</value>
            </setting>
            <setting name="Period" serializeAs="String">
                <value>1 Day</value>
            </setting>
            <setting name="Pick" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MonthStart" serializeAs="String">
                <value>1984-01-01</value>
            </setting>
            <setting name="WeekStart" serializeAs="String">
                <value>1984-01-02</value>
            </setting>
        </YahooChart.Properties.Settings>
        <FutureAnalysis.Properties.Settings>
            <setting name="ConTractFileName" serializeAs="String">
                <value>C:\DoomTrader\DATA\NewContract.csv</value>
            </setting>
            <setting name="FolderDirectory" serializeAs="String">
                <value>C:\DoomTrader\Data\</value>
            </setting>
            <setting name="LoadingPath" serializeAs="String">
                <value>1 Hour</value>
            </setting>
            <setting name="Pick" serializeAs="String">
                <value>1</value>
            </setting>
        </FutureAnalysis.Properties.Settings>
        <DataLink.Properties.Settings>
            <setting name="ConTractFileName" serializeAs="String">
                <value>C:\DoomTrader\DATA\NewContract.csv</value>
            </setting>
            <setting name="FolderDirectory" serializeAs="String">
                <value>C:\DoomTrader\Data\</value>
            </setting>
            <setting name="LoadingPath" serializeAs="String">
                <value>5 Mins</value>
            </setting>
            <setting name="Pick" serializeAs="String">
                <value>1</value>
            </setting>
        </DataLink.Properties.Settings>
    </userSettings>
</configuration>